[Unit]
Description=Radio DVR Scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/opt/radio_dvr

Environment=PYTHONUNBUFFERED=1
Environment=TZ=America/Lima

ExecStart=/bin/bash -lc '/home/ubuntu/opt/radio_dvr/venv/bin/python3 -m app.scheduler'

Restart=always
RestartSec=5

KillSignal=SIGTERM
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target