[Unit]
Description=Radio DVR Scheduler
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/opt/radio_dvr

Environment=PYTHONUNBUFFERED=1
Environment=TZ=America/Lima

ExecStart=/bin/bash -lc '/home/ubuntu/opt/radio_dvr/venv/bin/python3 -m app.scheduler'

# Reinicio conservador para evitar storms de conexión
Restart=on-failure
RestartSec=120
StartLimitInterval=600
StartLimitBurst=3


KillSignal=SIGTERM
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target